body {
    margin: 0px;
}

/*navbar*/
.nav-container {
    position:sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #1b1b1b;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
   
}


.filtrar-Prodcutos{
    margin-right: 20px;
    margin-top: 3.5vh;
    width: 220px;
    height: 10px;
    background: none;
    color: #fff;
    padding-top: 20px;
    border: solid 1px #f8e4e4;
    
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

/*banner styles*/

.banner {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("img/benji.jpg");;
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: white;
    opacity:  0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/*tarjeta de Producto*/
.contenedor-Productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.cardProducto {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.cardProductoSinstock {
    box-shadow: 0 4px 8px 0 rgba(231, 4, 4, 0.863);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}


.cardProducto > img {
    width: 90%;
    height: 250px;
} 


.precio {
    color: grey;
    font-size: 22px;
}

.botonProducto{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.botonProducto:hover{
    opacity: 0.7;
}


/*dandole estilo  al modal donde se mmuestran los productos */
.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 60vh;
    color: rgb(244, 242, 247);
    background-color:#021a25;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
}

/*para que no se vea la barra scroll*/
.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #023349;
    width: 100%;
}

.modal-header-title{
     color: #e64e4e;
}

.modal-header-button{
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer

}

.modal-container > .carrito-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
   
}

.modal-container >div >img {
    height: 100px;
    width: 100px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    color:  #fffbfb;
}

.delete-product {
    cursor: pointer;
}


.boton-comprar{
   
    padding: 20px;
    text-align: center;
 
}

.comprar-product{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background: #db1818;
    font-size: 15px;
    font-weight: 200;
    color: rgb(243, 235, 235);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
 
    position: relative;
    overflow: hidden;

}

.comprar-product:hover{
    background-color: #363106;
}

